.sec-services {
  background-color: #f3f1f1;
  height: 100vh;
  padding-top: vw_pc(103);
  padding-bottom: vw_pc(127);
  overflow: hidden;
  &-inner {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .info {
    flex: 1;
    padding-bottom: vw_pc(180);
  }
  .heading {
    font-size: vw_pc(40);
    font-weight: 600;
    color: #222222;
    line-height: 1.1;
    padding-right: vw_pc(20);
    margin-bottom: vw_pc(30);
  }
  .desc {
    font-size: vw_pc(20);
    color: #777777;
    padding-right: vw_pc(20);
    margin-bottom: vw_pc(40);
  }
  .list {
    .item {
      padding: vw_pc(30);
      transition: all 0.3s;
      cursor: pointer;
      &:hover,
      &.is-active {
        .title,
        .text {
          color: #fff;
        }
      }
      &-01 {
        &:hover,
        &.is-active {
          background-color: #88cae4;
        }
      }
      &-02 {
        &:hover,
        &.is-active {
          background-color: #00a79d;
        }
      }
      &-03 {
        &:hover,
        &.is-active {
          background-color: #f80f2d;
        }
      }
      &-04 {
        &:hover,
        &.is-active {
          background-color: #edc64d;
        }
      }
      &-05 {
        &:hover,
        &.is-active {
          background-color: #6d79b8;
        }
      }
      &-06 {
        &:hover,
        &.is-active {
          background-color: #ff5649;
        }
      }
    }
    .title {
      font-size: vw_pc(25);
      font-weight: 600;
      color: #222222;
      line-height: 1.1;
      margin-bottom: vw_pc(20);
      transition: all 0.3s;
    }
    .text {
      font-size: vw_pc(16);
      color: #222222;
      transition: all 0.3s;
    }
  }
  .images {
    width: vw_pc(600);
    align-self: flex-start;
    position: relative;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}